[user]
	name = sensorflo
	email = sensorflo@gmail.com
[credential]
  username = sensorflo
	helper = cache --timeout=3600
[branch]
	autosetuprebase = always
[color]
  ui = true
[core]
  editor = emacs -nw -Q
[merge]
  conflictstyle = diff3
[diff]
  algorithm = patience
[alias]
  rbi = rebase --interactive
  rba = rebase --abort
  rbc = rebase --continue
  b = branch
  ba = branch -vva
  c = commit
  f = fetch
  p = push
  co = checkout
[push]
	default = simple
